* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Poppins", sans-serif;;
  line-height: 1.5;
  font-weight: 300;
  --transparent-dark: #00000020;
  --transparent-light: #ffffff20;

  --white: #fff;
  --black: #000;
  --color-dark: #531c91;
  --color-dark-dashadow: #3b1566;
  --color-grey-light: #d3d3d3;
  --color-grey-dark: #979797;
  --color-grey-dark-opac: #97979790;

  --color-light: #87b6eb;
  --color-light-transparent: #87b6eb60;

  --gradian-color1: #fd66d0;
  --gradian-color2: #8c00ff;
}
body {
  position: absolute;
  top: 0;bottom: 0;left: 0;right: 0;
  overflow-y: auto;
}
#root {min-height: 100%;}
h1 {
  font-size: 2.5rem;
  font-weight: 300;
}
h3 {
  font-weight: 500;
  font-size: 1.1rem;
}
span {
  font-size: 0.8rem;
  color: var(--color-grey-light);
}